.chat_container {
    background-color: #4f545c;
    flex: 0.7;
    flex-grow: 1;
    overflow-y: scroll;
}

.chat_header {
    display: flex;
    padding: .6rem;
    color: white;
    border-bottom: 1px solid rgb(47, 49, 54);
}

.chat_bottom {
    padding: 10rem;
}